# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\py_projects\test_hexo_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
